<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- bean엘리먼트에 다양한 속성 -->
	<!-- 생성자 인젝션을 하기 위한 xml파일 설정 -->
	<bean id = "tv" class = "polymorphism.SamsungTV">
		<property name="speaker" ref = "apple"></property>
		<property name="price" value = "2300000"></property>
	</bean>
	
	<bean id = "sony" class = "polymorphism.SonySpeaker"></bean>
	<bean id = "apple" class = "polymorphism.AppleSpeaker"></bean>
</beans>
