<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- bean엘리먼트에 다양한 속성 -->
	<!-- 생성자 인젝션을 하기 위한 xml파일 설정 -->
	<bean id = "tv" class = "polymorphism.SamsungTV">
		<!-- 의존관계 변경을 xml설정 파일에서 가능하다. -->
		<constructor-arg ref = "apple"></constructor-arg>
		<constructor-arg value = "270000"></constructor-arg>
	</bean>
	
	<bean id = "sony" class = "polymorphism.SonySpeaker"></bean>
	<bean id = "apple" class = "polymorphism.AppleSpeaker"></bean>
</beans>
